<!doctype html>
<html lang="en">
    <head>
        <% include ./partials/shared/head.ejs %>
        <title>Automata</title>
    </head>
    <body>
        <% include ./partials/shared/nav.ejs %>
        <main>
            <div class="automata"></div>
        </main>
        <% include ./partials/shared/footer.ejs %>
    </body>
    <link rel="stylesheet" href="styles/automata.css" type="text/css">
    <% include ./partials/shared/scripts.ejs %>
    <script src="scripts/automata.js"></script>
</html>


