<!doctype html>
<html lang="en">
    <head>
        <% include ./partials/shared/head.ejs %>
        <title>Potion</title>
    </head>
    <body>
        <% include ./partials/shared/nav.ejs %>
        <main>
            <div class="potion"></div>
        </main>
        <% include ./partials/shared/footer.ejs %>
    </body>
    <link rel="stylesheet" href="styles/potion.css" type="text/css">
    <% include ./partials/shared/scripts.ejs %>
    <script src="scripts/potion.js"></script>
</html>
