.potion {
    padding: 25px;
    width: 500px;
    height: 500px;
    position: relative;
    left: 30%;
    top: 20%;
}

.potion > .row {
    height: 50px;
    width: 100%;
}

.potion > .row > .col {
    height: 100%;
    width: 50px;
}