<nav>
    <ul>
        <li>
            <a href="/potion">Potion</a>
        </li>
        <li>
            <a href="/tiles">Tiles</a>
        </li>
        <li>
            <a href="/automata">Automata</a>
        </li>
    </ul>
</nav>